
#IndexHeader{
    text-align: center;
    margin: 15px 0;
}
p{
    text-align: center;
}

#IndexSjekkliste{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: 0.4fr 1fr 0.4fr;
    gap: 10px;
    margin-top: 20px;
    text-align: center;
}

#IndexSjekkElement{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    border-radius: 6px;
    margin: auto;
    align-items: center;
    padding: 5px 20px;
}
#IndexSjekkElement div{
    margin-right: 30px;
}

button{
    width: 80%;
    height: 40px;
    margin: 30px auto;
    transition: 0.2s;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    font-size: 1em;
    border: none;
    border-radius: 6px;
}
button:hover{
    background-color: var(--sofia-fargen);
    color: var(--sidebar-color);
    cursor: pointer;
    transform: scale(0.98);
    border: 1px solid var(--sofia-fargen);
    box-sizing: border-box;
    border-radius: 6px;
}
#IndexMerSjekkBtn{
    width: 40%;
    background-color: var(--sidebar-color);
    color: var(--primary-color);
}
#IndexMerSjekkBtn:hover{
    background-color: var(--sofia-fargen);
    color: var(--sidebar-color);
    
}