
#sjekklisteHeader{
    text-align: center;
    margin: 15px 0;
}

.innhold {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr 1fr; 
    grid-gap: 10px;
    width: 95%;
    height: 95%;
    margin: 20px auto;
}

.wide-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: gray;
    border-radius: 6px;
    padding: 10px;
}

.treBokser{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.box {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: lightgreen;
    border-radius: 6px;
    padding: 10px;
}

#skjemaBtn{
    width: 60%;
    height: 40px;
    margin: 30px auto;
}
