/* --- Header og felles-css for "wide-container" --- */
#sjekklisteHeader{
    text-align: center;
    margin: 15px 0;
}

.innhold {
    display: grid;
    grid-template-rows: 0.5fr 3fr 1fr 1.4fr 1fr 0.5fr 1fr; /* En ekstra "fr" for ekstra padding under listen */
    grid-gap: 10px;
    width: 95%;
    height: 95%;
    margin: 20px auto;
}

.wide-container {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    border-radius: 6px;
    padding: 10px;
}


/* --- Første enhet "SereNr. og type" --- */
.wide-c-en{
    display: grid;
    grid-template-columns: 2fr 3fr;
}
.wide-c-en label{
    margin: auto 0;
}
.wide-c-en label input{
    width: 60%;
    margin: 0 5px;
}


/* --- "Mekanisk, hydraulisk og elektrisk enhet" --- */
.treBokser{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}
.enhetHeader{
    text-align: center;
    margin: 10px 0;
}
.box {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: var(--sidebar-color);
    color: var(--primary-color);
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    transition: 0.9s;
}
.punkt{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 10px 0;
}
.punkt div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.punkt div label{
    display: flex;
    justify-content: end;
    gap: 5px;
    text-align: justify;
}
.punkt div label input{
    margin-top: -5px;
}
/* For å sette farge på valgte sjekkliste-knapper */
input[value="OK"]{
    accent-color: #007c00;
}
input[value="Bør Skiftes"]{
    accent-color: #be7f00;
}
input[value="Defekt"]{
    accent-color: #ff0000;
}


/* --- Andre enhet "Trykk settinger" --- */
.wide-c-to{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.wide-c-to label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.wide-c-to label input{
    width: 80%;
    margin: 0 5px;
}


/* --- Tredje enhet "Funksjons tester" --- */
.wide-c-tre{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.wide-c-tre label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.wide-c-tre label input{
    width: 70%;
    margin: 0 5px;
}


/* --- Fjerde enhet "Kommentar" --- */
.wide-c-fire label{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}
.wide-c-fire label input{
    width: 80%;
    margin: 0 5px;
    height: 80px;
}


/* --- Femte enhet "Signatur og dato" --- */
.wide-c-fem{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.enhetBunn{
    margin: auto;
}
.enhetBunn input{
    margin: 0 0 0 10px;
}


/* --- Input-element enhet --- */
input{
    background: var(--primary-color-light);
    border-radius: 6px;
    height: 35px;
    padding: 0 5px;
    border: none;
}


/* --- Send inn knapp --- */
#skjemaBtn{
     width: 60%;
     height: 40px;
     margin: 30px auto;
     transition: 0.2s;
     background-color: var(--sidebar-color);
     color: var(--primary-color);
     font-size: 1em;
}
#skjemaBtn:hover{
    background-color: var(--sofia-fargen);
    color: var(--sidebar-color);
    cursor: pointer;
    transform: scale(0.98);
    border: 1px solid var(--sofia-fargen);
    box-sizing: border-box;
    border-radius: 6px;
}


/* --- Media-queries for bedre tilpassing for stajsonær over 1900px, laptop under 1900px og for skjerm under 1250px --- */
@media (min-width: 1900px){
    .box{
        flex: 1;
    }
    .box:active{
        flex: 2;
    }
    .box:hover{
        flex: 2;
    }
    .box:focus{
        flex: 2;
    }
}
@media (max-width: 1900px){
    .innhold {
        grid-template-rows: 0.3fr 3fr 0.6fr 0.8fr 0.6fr 0.3fr 1fr; /* En ekstra "fr" for ekstra padding under listen */
    }
    .treBokser{
        flex-direction: column;
    }
    .punkt{
        width: 60%;
        align-items: center;
        margin: 0 auto !important;
    }
}
@media (max-width: 1250px){
    .punkt{
        width: 100%;
    }
    .wide-c-to label, .wide-c-tre label, .wide-c-fire label{
        width: 100% !important;
    }
}
