<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Nøsted</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navigation.css" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    @RenderSection("CustomStyles", required: false)
</head>
<body>
<header>
</header>

<nav class="sidebar">
    <header>
        <div class="image-text">
            <span class="image">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img id="logoImage" src="~/logo_nosted_endrett.jpg" alt="logo">
                </a>
            </span>
        </div>
        
        <i class='bx bx-chevron-right toggle' ></i>
        
    </header>
    
    <div class="menu-bar">
        <div class="menu">
            <li class="search-box">
                <i class="bx bx-search icon"></i>
                <input type="search" placeholder="Search...">
            </li>
            <ul class="menu-links">
                <li class="nav-link">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a asp-area="" asp-controller="Home" asp-action="Serviceskjema">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Service</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Placeholder</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Placeholder</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="text nav-text">Placeholder</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">
                    <i class="bx bx-log-out icon"></i>
                    <span class="text nav-text">Logg ut</span>
                </a>
            </li>
        </div>
    </div>
</nav>

<div class="home">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

    <script src="~/js/navigation.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
