@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Vinsj.Entities
@using Vinsj.Models.Account
@model LoginViewModel

@section CustomStyles {
    <link rel="stylesheet" href="~/css/Login.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
}

<div id="loginBG">
    <div id="loginInnhold">
        <img src="~/logo_nosted_bg_removed_dark.png" alt="Logo"/>
        <section id="loginDiv">
            <p>Logg inn på Nøsted&</p>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4> Logg inn med en eksisterende konto. </h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validate-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control"/>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe"/>
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Logg inn</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrer som en ny bruker?</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Glemt passord?</a>
                </p>
            </form>
        </section>
    </div>
</div>
