@{
    ViewData["Title"] = "Dashboard";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/Dashboard.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
}

<h1 id="IndexHeader">@ViewData["Title"]</h1>

<p>Velkommen til hjemmesiden til Nøsted Service.</p>

<div id="IndexSjekkliste">
    <h4>Opprettede sjekklister:</h4>
    <div id="IndexSjekkElement">
        <div>Serienr: 1234098765</div>
        <div>Dato: 23.11.2023 13:59</div>
        <button>Åpne</button>
        <button>Rediger</button>
        <button>Slett</button>
    </div>
    <button id="IndexMerSjekkBtn">Vis flere sjekklister</button>
</div>