<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/Login.css"/>
</head>
<body>
<div id="loginBG">
    <div id="loginInnhold">
        <img src="logo_nosted_bg_removed.png" alt="Logo"/>
        <div id="loginDiv">
            <p>Logg inn på Nøsted&</p>
            <form id="loginForm">
                <label for="Brukernavn">Brukernavn
                    <input type="text" id="Brukernavn" placeholder="Skriv inn brukernavn"/>
                </label>
                <label for="Passord">Passord
                    <input type="password" id="Passord" placeholder="Skriv inn passord"/>
                </label>
                <input type="submit" id="loginSubmit" value="Logg inn"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>