@{
    ViewData["Title"] = "Privacy Policy";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/service.css" />
}

<h1>@ViewData["Title"]</h1>



<p>Use this page to detail your site's privacy policy.</p>

<div class="grid-container">
    <div class="wide-container">Wide Container</div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>
