@{
    ViewData["Title"] = "Sjekkliste";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/service.css" />
}


<h1 id="sjekklisteHeader">@ViewData["Title"]</h1>


<div class="innhold">
    <div class="wide-container">x</div>
    <div class="treBokser">
        <div class="box">x</div>
        <div class="box">x</div>
        <div class="box">x</div>
    </div>
    <div class="wide-container">x</div>
    <div class="wide-container">x</div>
    <div class="wide-container">x</div>
    <input id="skjemaBtn" type="submit" value="Ferdig"/>
</div>
