

@model Vinsj.Models.ServiceSkjemaView
@{
    ViewData["Title"] = "Serviceskjema";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/Serviceskjema.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
}


<h1 id="serviceskjemaHeader">@ViewData["Title"]</h1>

<form asp-controller="ServiceOrder" asp-action="CreateServiceOrder" method="post" class="serviceskjemaInnhold">
    <div class="skjemaEnhet skjemaEnhetEn">
        <div class="enhet">
            <label asp-for="KundeNavn">Kunde:</label>
            <input asp-for="KundeNavn" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="ProduktMottat">Mottatt dato:</label>
            <input asp-for="ProduktMottat" type="datetime-local"/>
        </div>
        <div class="enhet">
            <label asp-for="KundeAdresse">Adresse:</label>
            <input asp-for="KundeAdresse" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="KundeEpost">E-post:</label>
            <input asp-for="KundeEpost" type="text"/>
        </div>
        <div class="enhet">
            <label for="sOrdreNr">Ordrenummer:</label>
            <input id="sOrdreNr" type="number" min="0"/>
        </div>
        <div class="enhet">
            <label asp-for="KundeTelefon">Telefon:</label>
            <input asp-for="KundeTelefon" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="ProduktType">Produkttype:</label>
            <input asp-for="ProduktType" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="ProduktArsmodell">Årsmodell:</label>
            <input asp-for="ProduktArsmodell" type="number" min="0"/>
        </div>
        <div class="enhet">
            <label asp-for="ProduktGaranti">Garanti:</label>
            <input asp-for="ProduktGaranti" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="ProduktSerienummer">Serienummer:</label>
            <input asp-for="ProduktSerienummer" type="text"/>
        </div>
    </div>
    <div class="skjemaEnhet skjemaEnhetToTreFire">
        <label asp-for="SAvtaltKunde">Avtalt med kunde:</label>
        <input asp-for="SAvtaltKunde" type="text" placeholder="Skriv inn her..."/>
    </div>
    <div class="skjemaEnhet skjemaEnhetToTreFire">
        <label asp-for="SRepBeskrivelse">Reperasjonsbeskrivelse:</label>
        <input asp-for="SRepBeskrivelse" type="text" placeholder="Skriv inn her..."/>
    </div>
    <div class="skjemaEnhet skjemaEnhetToTreFire">
        <label asp-for="SDelerBrukt">Medgåtte deler:</label>
        <input asp-for="SDelerBrukt" type="text" placeholder="Skriv inn her..."/>
    </div>
    <div class="skjemaEnhet skjemaEnhetFem">
        <div class="enhet">
            <label asp-for="SArbeidsTimer">Arbeidstimer:</label>
            <input asp-for="SArbeidsTimer" type="number" min="0" step="0.5"/>
        </div>
        <div class="enhet">
            <label asp-for="SFerdigDato">Ferdigstilt dato:</label>
            <input asp-for="SFerdigDato" type="datetime-local"/>
        </div>
        <div class="enhet">
            <label asp-for="SDelerRetunert">Utskiftet deler returnert:</label>
            <input asp-for="SDelerRetunert" type="text"/> <!-- Usikker på hvilken type som er riktig, endte opp med "text" -->
        </div>
        <div class="enhet">
            <label asp-for="SForsendelseMate">Forsendelsesmåte:</label>
            <input asp-for="SForsendelseMate" type="text"/> 
        </div>
        <div class="enhet">
            <label asp-for="SSignKunde">Sign. kunde:</label>
            <input asp-for="SSignKunde" type="text"/>
        </div>
        <div class="enhet">
            <label asp-for="SSignRep">Sign. reperatør:</label>
            <input asp-for="SSignRep" type="text"/>
        </div>
    </div>
    
    <input id="serviceskjemaBtn" type="submit"/>
</form>