@{
    ViewData["Title"] = "Sjekkliste";
}
@section CustomStyles {
    <link rel="stylesheet" href="~/css/Sjekkliste.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
}


<h1 id="sjekklisteHeader">@ViewData["Title"]</h1>

<form class="innhold">
    <div class="wide-container wide-c-en">
        <label for="headerSerieNr">Serienummer:
            <input id="headerSerieNr" type="text"/>
        </label>
        <label for="headerType">Type:
            <input id="headerType" type="text"/>
        </label>
    </div>
    <div class="treBokser">
        <div class="box mekanisk">
            <h4 class="enhetHeader">Mekanisk</h4>
            <div>
                <div class="punkt" id="ClutchStatus">
                    <p>Sjekk clutch lameller for slitasje</p>
                    <div>
                        <label><input type="radio" name="ClutchStatus" value="OK">OK</label>
                        <label><input type="radio" name="ClutchStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="ClutchStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="BremseStatus">
                    <p>Sjekk bremser. Bånd/pal</p>
                    <div>
                        <label><input type="radio" name="BremseStatus" value="OK">OK</label>
                        <label><input type="radio" name="BremseStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="BremseStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="TrommelStatus">
                    <p>Sjekk lager på trommel</p>
                    <div>
                        <label><input type="radio" name="TrommelStatus" value="OK">OK</label>
                        <label><input type="radio" name="TrommelStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="TrommelStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="PTOStatus">
                    <p>Sjekk PTO og opplagring</p>
                    <div>
                        <label><input type="radio" name="PTOStatus" value="OK">OK</label>
                        <label><input type="radio" name="PTOStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="PTOStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="KjedestrammerStatus">
                    <p>Sjekk kjedestrammer</p>
                    <div>
                        <label><input type="radio" name="KjedestrammerStatus" value="OK">OK</label>
                        <label><input type="radio" name="KjedestrammerStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="KjedestrammerStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="WireStatus">
                    <p>Sjekk wire</p>
                    <div>
                        <label><input type="radio" name="WireStatus" value="OK">OK</label>
                        <label><input type="radio" name="WireStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="WireStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="PinionStatus">
                    <p>Sjekk pinion lager</p>
                    <div>
                        <label><input type="radio" name="PinionStatus" value="OK">OK</label>
                        <label><input type="radio" name="PinionStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="PinionStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="KjedehjulStatus">
                    <p>Sjekk kile på kjedehjul</p>
                    <div>
                        <label><input type="radio" name="KjedehjulStatus" value="OK">OK</label>
                        <label><input type="radio" name="KjedehjulStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="KjedehjulStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="box hydraulisk">
            <h4 class="enhetHeader">Hydraulisk</h4>
            <div>
                <div class="punkt" id="HydraulikkStatus">
                    <p>Sjekk hydraulikk sylinder for lekkasje</p>
                    <div>
                        <label><input type="radio" name="HydraulikkStatus" value="OK">OK</label>
                        <label><input type="radio" name="HydraulikkStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="HydraulikkStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="SlangerStatus">
                    <p>Sjekk slanger for skader og lekkasje</p>
                    <div>
                        <label><input type="radio" name="SlangerStatus" value="OK">OK</label>
                        <label><input type="radio" name="SlangerStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="SlangerStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="HydraulikkblokkStatus">
                    <p>Test hydraulikkblokk i testbenk</p>
                    <div>
                        <label><input type="radio" name="HydraulikkblokkStatus" value="OK">OK</label>
                        <label><input type="radio" name="HydraulikkblokkStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="HydraulikkblokkStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="OljeTankStatus">
                    <p>Skift olje i tank</p>
                    <div>
                        <label><input type="radio" name="OljeTankStatus" value="OK">OK</label>
                        <label><input type="radio" name="OljeTankStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="OljeTankStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="OljeGirStatus">
                    <p>Skift olje på gir boks</p>
                    <div>
                        <label><input type="radio" name="OljeGirStatus" value="OK">OK</label>
                        <label><input type="radio" name="OljeGirStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="OljeGirStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="RingsylinderStatus">
                    <p>Sjekk ringsylinder åpne og skift tetninger</p>
                    <div>
                        <label><input type="radio" name="RingsylinderStatus" value="OK">OK</label>
                        <label><input type="radio" name="RingsylinderStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="RingsylinderStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="BremsesylinderStatus">
                    <p>Sjekk bremsesylinder åpne og skift tetninger</p>
                    <div>
                        <label><input type="radio" name="BremsesylinderStatus" value="OK">OK</label>
                        <label><input type="radio" name="BremsesylinderStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="BremsesylinderStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="box elektrisk">
            <h4 class="enhetHeader">Elektrisk</h4>
            <div>
                <div class="punkt" id="LedningsnettStatus">
                    <p>Sjekk ledningsnett på vinsj</p>
                    <div>
                        <label><input type="radio" name="LedningsnettStatus" value="OK">OK</label>
                        <label><input type="radio" name="LedningsnettStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="LedningsnettStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="TestRadioStatus">
                    <p>Sjekk og test radio</p>
                    <div>
                        <label><input type="radio" name="TestRadioStatus" value="OK">OK</label>
                        <label><input type="radio" name="TestRadioStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="TestRadioStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
                <div class="punkt" id="TestKnappekasseStatus">
                    <p>Sjekk og test knappekasse</p>
                    <div>
                        <label><input type="radio" name="TestKnappekasseStatus" value="OK">OK</label>
                        <label><input type="radio" name="TestKnappekasseStatus" value="Bør Skiftes">Bør Skiftes</label>
                        <label><input type="radio" name="TestKnappekasseStatus" value="Defekt"> Defekt</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wide-container wide-c-to">
        <h4 class="enhetHeader">Trykk settinger</h4>
        <label for="trykkSettingEn">xx-Bar:
            <input id="trykkSettingEn" type="text"/>
        </label>
        <label for="trykkSettingTo">x:
            <input id="trykkSettingTo" type="text"/>
        </label>
    </div>
    <div class="wide-container wide-c-tre">
        <h4 class="enhetHeader">Funksjons test</h4>
        <label for="funksjonsTestEn">Test vinsj og kjør alle funksjoner:
            <input id="funksjonsTestEn" type="text"/>
        </label>
        <label for="funksjonsTestTo">Trekkkraft KN:
            <input id="funksjonsTestTo" type="text"/>
        </label>
        <label for="funksjonsTestTre">Bremsekraft KN:
            <input id="funksjonsTestTre" type="text"/>
        </label>
    </div>
    <div class="wide-container wide-c-fire">
        <h4 class="enhetHeader">Kommentarer</h4>
        <label for="kommentarEn">Kommentar:
            <input id="kommentarEn" type="text" placeholder="Skriv inn evt. kommentarer her..."/>
        </label>
    </div>
    <div class="wide-container wide-c-fem">
        <div class="enhetBunn">
            <label for="SjekklisteSign">Signatur:</label>
            <input id="SjekklisteSign" type="text"/>
        </div>
        <div class="enhetBunn">
            <label for="SjekklisteDato">Dato:</label>
            <input id="SjekklisteDato" type="datetime-local"/>
        </div>
    </div>
    <input id="skjemaBtn" type="submit" value="Ferdig"/>
</form>

<script>
// Funksjon for å holde css:focus på iPhone/iPad når "media(min-1900px)"
    window.onload = function() {
      if(/iP(hone|ad)/.test(window.navigator.userAgent)) {
      	document.body.addEventListener('touchstart', function() {}, false);
      }
    }
</script>