@{
    ViewData["Title"] = "Service";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="with=device-width, initial-scale=1.0"/>
    <title>Service</title>
    <link href="~/css/Dashboard.css" rel="stylesheet"/>
</head>
<body>
    <!-- Your HTML content goes here -->
<main>
    <section class="Boks">
        
    </section>
</main>
</body>
</html>
